/* Layout Styling */
body{
    background: linear-gradient(to bottom, black,gray );
    width: auto;
    height: auto;
    min-height: auto;
    max-height: 100%;
    display: block;
    position: relative;
    font-family: michroma;
}

/* Main Styling */
main{
    position: relative;
    background-color: rgb(26, 23, 23);
    width:70%;
    height: 100%;
    margin-left: 15%;
    margin-right: 10%;
}

/* Header Styling */
header{
    font-family: monospace;
    font-size: 20px;
    color: black;
    background-color: rgb(230, 230, 20);
    position: relative;
    text-align: center;
    flex-direction: row-reverse;
}

/* Nav Styling */
nav{
    flex-direction: column;
}

/* Article Styling */
article{
    color: white;
    margin-left: 5%;
    margin-right: 20%;
}

/* Aside Styling */
aside{
    display:block;
    position: relative;
    font-family: michroma;
    text-align:left;
    background-color: rgb(230, 230, 20);
    flex-direction: column;
    float: right;
    width: 15%;
    padding-left: 1%;
    word-wrap: break-word;
}

/* Footer styling */
footer{
    background-color: black;
    color: white;
    padding-bottom: 1%;
    padding-left: 1%;
}

#footer{
    color: white;
}

/* Video Styling */
video{
    display: block;
    margin: 0 auto;
}

/* Form asking for improvements */
form{ 
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 20%;
}


/* Font for the body paragraphs */
@font-face {
    font-family: 'michroma';
    src: url(../fonts/michroma.woff2) format('woff2'),
         url(../fonts/michroma.woff) format('woff');
    font-weight: 200;
    font-style: normal;

}
/* IDs */

/* styling for the welcome message on the homepage */
#welcome{
    text-align: center;
}

/* styling for the logo on the pages */
#logo{
    font-size: 50px;
    font-family: michroma;
}

/* center an image */
#cim{
    padding-bottom: 3%;
    padding-top: 3%;
    display: block;
    margin: 0 auto;
}

/* Link Styling */
a:link{
    text-decoration: none;
}

a:visited {
    text-decoration: none; color: black;
}

a:hover {
    text-decoration: none; color: black;
}

a:active {
    text-decoration: none;
}